body{
font-family: "Poppins",serif;
}

#tasksList{
color: white;
background-color:black ;
text-align: center;
width: 100%;
border: 2px solid white;
min-height: 4vh;
text-align: center;
border-radius: 3px;
}

#card{
margin:100px;
height: auto;
border: 2px solid black; border-radius: 4px;
min-width: 10%;
max-width: 27%;
min-height: 60vh;
display: block;
}

#addTaskText{
margin: 10px;
height: 5vh;
width: 70%;
border: solid 2px black; border-radius: 4px;
}

#addTaskBtn{
background-color: white;
color: black;
height: 6vh; 
border: solid 2px black; border-radius: 4px;
width: 60px;
}

.deleteBtn{
background-color: red;
color: white;
height: 25px;
float: right;
margin-top: 1px;

}