body{
font-family: "Poppins",serif;
background-color:rgb(1, 1, 21);
}
#tasksList{
color: white;
background: linear-gradient(135deg, rgba(225,225,225,0.1) rgba(225,225,225,0)); border:1px solid rgba(225, 225, 225, 0.18); ;border-radius: 3px;
box-shadow: 0 8px 32px 0 rgba(53, 0, 103, 0.37);
text-align: center;
width: 100%;
min-height: 4vh;
}
#card{ 
min-height: 100vh;
height: auto;
background: linear-gradient(135deg, rgba(225,225,225,0.1) rgba(225,225,225,0)); border:1px solid rgba(225, 225, 225, 0.18); ;border-radius: 4px;
box-shadow: 0 8px 32px 0 rgba(53, 0, 103, 0.37);
backdrop-filter: blur;
display: block;
}
#addTaskText{
margin: 10px;
height: 5vh;
width: 70%;
background-color:rgb(225,225,225,0); border: 2px solid white; color: white;
border-radius: 6px;
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#addTaskBtn{
height: 6vh; 
background-color: rgb(225,225,225,0); border: 2px solid; border-radius: 5px; color: white;
width: 60px;
box-shadow: 0 8px 32px 0 rgba(53, 0, 103, 0.37);
}
.deleteBtn{
background-color: red;
color: white;
height: 25px;
float: right;
margin-top: 1px;
}
.editBtn{
background-color: lightseagreen ;
color: white;
height: 25px;
float: right;
margin-top: 1px;
}
::placeholder {color: white;}